@page
@model ged_fdl_razor.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy - Test Commune";
}

<h1>Test Commune</h1>

<p><strong>Id :</strong> @Model.TestCommune.CommuneID</p>
<p><strong>Nom :</strong> @Model.TestCommune.Nom</p>
<p><strong>Email :</strong> @Model.TestCommune.Email</p>
<p><strong>District :</strong> @Model.TestCommune.District</p>
<p><strong>Région :</strong> @Model.TestCommune.Region</p>
<p><strong>Mot de passe à changer :</strong> @(Model.TestCommune.MustChangePassword ? "Oui" : "Non")</p>
<p><strong>Date création :</strong> @Model.TestCommune.DateCreation.ToString("yyyy-MM-dd HH:mm:ss")</p>
