@page
@model ged_fdl_razor.Pages.Admin.Communes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Commune</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commune.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commune.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commune.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commune.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commune.PasswordHash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commune.PasswordHash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commune.MustChangePassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commune.MustChangePassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commune.District)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commune.District)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commune.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commune.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commune.DateCreation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commune.DateCreation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commune.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commune.IsActive)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Commune.CommuneID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
