@page
@model ged_fdl_razor.Pages.Admin.Communes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Commune</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commune.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commune.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commune.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commune.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commune.PasswordHash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commune.PasswordHash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commune.MustChangePassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commune.MustChangePassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commune.District)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commune.District)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commune.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commune.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commune.DateCreation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commune.DateCreation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commune.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commune.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Commune.CommuneID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
