@page
@model ged_fdl_razor.Pages.Admin.Communes.IndexModel
@using ged_fdl_razor.Enums
@{
    ViewData["Title"] = "Liste des Communes";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Créer une nouvelle commune</a>
</p>

@if (Model.Commune != null && Model.Commune.Any())
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Changer Mot de passe ?</th>
                <th>District</th>
                <th>Région</th>
                <th>Date de création</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Commune)
            {
                <tr class="@(item.HasNewDocuments ? "highlight-commune" : "")">
                    <td>
                        <a asp-page="/Admin/Dossiers/Index" asp-route-communeId="@item.CommuneID">
                            @item.Nom
                        </a>

                        @{
                            var dernierDossier = item.Dossiers
                            .OrderByDescending(d => d.Id)
                            .FirstOrDefault();
                            var statut = dernierDossier?.Statut;
                        }

                        @* Affichage du badge uniquement si un dossier existe *@
                        @if (dernierDossier != null)
                        {
                            @switch (statut)
                            {
                                case StatutDossier.Soumis:
                                    <div class="custom-badge bg-warning">Soumis</div>
                                    ;
                                    break;
                                case StatutDossier.EnCours:
                                    <div class="custom-badge bg-primary">En cours</div>
                                    ;
                                    break;
                                case StatutDossier.Valide:
                                    <div class="custom-badge bg-success">Validé</div>
                                    ;
                                    break;
                                case StatutDossier.Rejete:
                                    <div class="custom-badge bg-danger">Rejeté</div>
                                    ;
                                    break;
                            }
                        }
                    </td>
                    <td>@item.Email</td>
                    <td>@(item.MustChangePassword ? "Oui" : "Non")</td>
                    <td>@item.District</td>
                    <td>@item.Region</td>
                    <td>@item.DateCreation.ToString("dd/MM/yyyy")</td>
                    <td>@(item.IsActive ? "Oui" : "Non")</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.CommuneID" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-page="./Details" asp-route-id="@item.CommuneID" class="btn btn-sm btn-info">Détails</a>
                        <a asp-page="./Delete" asp-route-id="@item.CommuneID" class="btn btn-sm btn-danger">Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">
        Aucune commune n'a été trouvée.
    </div>
}