@page
@model ged_fdl_razor.Pages.Admin.Documents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Document[0].Type)</th>
            <th>@Html.DisplayNameFor(model => model.Document[0].Taille)</th>
            <th>Fichier</th>
            <th>Dossier de financement</th>
            <th>@Html.DisplayNameFor(model => model.Document[0].DateUpload)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Document)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td>@Html.DisplayFor(modelItem => item.Taille)</td>

                <!-- Bouton Télécharger -->
                <td>
                    <a asp-page="./Index"
                       asp-route-id="@item.DocumentID"
                       asp-page-handler="Download"
                       class="btn btn-sm btn-success">
                        Télécharger
                    </a>
                    <a asp-page="./Index"
                       asp-route-id="@item.DocumentID"
                       asp-page-handler="Open"
                       class="btn btn-sm btn-primary">
                        Ouvrir
                    </a>
                

                </td>


                <td>
                    @(item.DossierFinancement != null
                        ? item.DossierFinancement.Titre + " - " + item.DossierFinancement.Commune?.Nom
                        : "")
                </td>


                <td>@Html.DisplayFor(modelItem => item.DateUpload)</td>

                <td>|
                    <a asp-page="./Details" asp-route-id="@item.DocumentID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.DocumentID">Delete</a>
                    <a asp-page="/Admin/Remarques/Create"
                       asp-route-communeId="@(item.DossierFinancement?.CommuneId)"
                       asp-route-dossierId="@(item.DossierFinancementId)"
                       class="btn btn-sm btn-success">
                        Ajouter remarque
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
