@page
@model ged_fdl_razor.Pages.Admin.Documents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Document[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document[0].ContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document[0].Taille)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document[0].Contenu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document[0].DossierFinancement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document[0].DateUpload)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Document) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taille)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DossierFinancement.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpload)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DocumentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DocumentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DocumentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
